{% extends 'index.html' %}
{% load static %}

{% block body %}
 {% for blog in all_blog%}
   <a href="{% url 'view_article' blog.id %}">
 <div style="width: 80%; height: 450px; background: rgb(168, 161, 161); margin-top: 20px; border: 2px solid lavender;">
    <div class="title">
    <h2>{{blog.title}}</h2>
    <h4>{{blog.upload_date}}</h4>
  </div>
    <div class="article">

      <div class="article-img"> <img src="/media/{{blog.thumbnail}}" alt="img"></div>

      <!-- <p> {{blog.content}}</p> -->


    </div>

  </div>
</a>
{%endfor%}

{% endblock %}