<!DOCTYPE html>

{% extends 'index.html' %}

{% block body %}


<div style=" width: 95%; height: auto; background: rgb(189, 185, 185); float: left; margin: 20px;">
    <h1 style="width: 80%; text-align: center;">Your Articles</h1> <hr>
    <ul>
      {% if blog is None %}
      <h2>there is no article</h2> 
      {% endif %}
    {% for blog in blogs%}
    <li style="list-style: none;">
      <a href="{% url 'view_article' blog.id %}">
    <div style="float: left; width: 40%; height: auto; background: rgb(87, 90, 92);   margin: 20px 30px 20px 20px;">
      <img src="/media/{{blog.thumbnail}}" style="margin-top: 10px; margin-left: 10px; width: 250px; height: 200px;" alt="">
      <h1>{{blog.title}}</h1>
      <div style="float: right; margin-top: -200px; margin-right: 100px;">
          <label for="">Comments </label><em>{{blog.cmt}}</em><br><br>
          <label for="">Like </label><em>{{blog.like}}</em>
      </div>
    </div>
  </a>
</li>
    {% endfor %}
</ul>

  </div>

  {% endblock %}