<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  
  <link rel="stylesheet" href="{% static 'style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  

<!-- A grey horizontal navbar that becomes vertical on small screens -->
<header>
<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    
    <div class="web-title">
    <h2 style="font-family:Lucida Console, Courier, monospace;">MyBlogApp</h2><br>
  </div>
    <li class="nav-item">
      <a class="nav-link" href="\">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'all_blogs' %}">All Blog</a>
    </li>
  
    {% if user.is_authenticated %}
  
    {% if user.is_author %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'author_dashboard' %}">DashBoard</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/author_register">Are You Author?</a>
    </li>

    {%endif%}

    {%else%}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user_register">New User?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/author_register">New Author?</a>
    </li>

    {%endif%}

    {% if user.is_authenticated %}

    <li class="nav-item">
      <a class="nav-link" href="{% url 'notification' %}"><div> Notification <strong>{{unread}}</strong></div>  </a>
    </li>
    {%endif%}

  </ul>
  
  {% if user.is_authenticated %}


    
  <div style="padding: 10px; background: rgb(91, 243, 116); float: right; margin-top: -60px;"><strong>{{user}}</strong> 
    
      <a class="nav-link" href="logout">Logout</a>
   </div>
   {%else%}
   <div style="padding: 10px; background: rgb(243, 91, 91); float: right; margin-top: -60px;"><strong>{{user}}</strong> </div>
  {%endif%}
</nav>
</header>

<!-- blog -->

<div class="container">

  {% block body%}

  <div class="left-container">
    <div class="title">
    <h2>{{new_blog.title}}</h2>
    <h4>{{new_blog.upload_date}}</h4>
  </div>
    <div class="article">

      <div class="article-img"> <img src="/media/{{new_blog.thumbnail}}" alt="img"></div>

      <p> {{new_blog.content}}</p>


    </div>

  

  </div>

 






  <!-- author info -->

  <h1 style="float: right; margin-right: 270px; border-bottom: 5px solid black;">Author</h1>
  <div class="right-container">
    <div class="author-img"> <img src="/media/{{author.profile_pic}}" alt=""></div>
    <div class="author-info">
      <h2>{{author.username}}</h2>
     <h4>{{author.occupation}}</h4>
       <h4>{{author.country}}</h4>
       {%if author.instagram_address %}
       <a href="{{author.instagram_address}}"> <span class="social-link">Instagram</span></a>
       {%endif%}

       {%if author.github_address %}
       <a href="{{author.github_address}}"><span class="social-link">Github</span></a> 
       {%endif%}

       {%if author.linkedin_address %}
       <a href="{{author.linkedin_address}}"> <span class="social-link">Linkedin</span> </a>

       {%endif%}
      </div>
    
   

  </div>


 


  <!-- comments section -->

  <div class="cmt-box">

    <div class="cmt-like" style="position: relative; width: 200px; height: 100px; background: rgb(235, 231, 231);">
      
      Comments {{total_cmt}} <br><br>
      <button id="like" style="padding: 10px;" ><div id="active" style="color:{{active}};"> <strong>Like</strong> </div>{{likes}}</button>
    </div>

    <h1>COMMENTS</h1>
    <hr>
      
    <div class="user-cmts">

     
      <div id="cmtdiv">
      {% for cmt in cmts %}
      <div class="user-cmt-box" style="margin-top: 20px;">

        

        <div class="user-img"> <img src="/media/{{cmt.user.profile_pic}}" alt=""></div>
        <div class="user-msg">
        <h2>{{cmt.u_name}}</h2>
        <h6 style="font-style: italic;">{{cmt.cmt_date}}</h6>
        <div style="margin-right: 20px; margin-top: -20px;">{{cmt.u_msg}}</div>
        
        <form id="cmt_reply-{{cmt.id}}" method="POST">
          {% csrf_token%}
        <input type="text" name="r-msg" id="msg-{{cmt.id}}">
        <button onclick="comment_reply({{cmt.id}})" type="button">ADD</button>
        
      </form>
      </div>

      
     <div id="div-{{cmt.id}}">
      {% for reply in replys %}

      {% if reply.main_cmt_id == cmt.id%}

      <div class="sub-cmt">
        <div class="sub-user-img"> <img src="/media/{{reply.main_cmt.user.profile_pic}}" alt=""></div>
        <div class="user-msg">
        <h2>{{reply.u_name}}</h2>
        <h6 style="font-style: italic;">{{reply.cmt_date}}</h6>
        <div style="margin-right: 20px; margin-top: -20px;">{{reply.r_msg}}</div>
        </div>
      </div>
      {%endif%}
      {%endfor%}
    </div>

    </div>
     
      {% endfor %}

  
  </div>
    
  {% if more %}
  <div id="morecmt" style="float: left;">
   
    
    <div id="m" style="margin-top: 10px; margin-left: 100px; padding: 10px; width: 60px; background: rgb(109, 105, 105);"><button onclick="more()" style="background: none;">MORE</button></div>
  
  </div>
  <!-- <script>
    document.cookie ="cmtpage=2"
  </script> -->
  {% endif %}




<!-- Comments-Form -->


      <div class="cmt-form">
        <h1>Add Comments</h1>
      
          
        <form method="POST" id="cmtform" >
          {% csrf_token%}
        <input type="text" name="cmt-msg" id="cmtmsg">
        <button id="addcmt">ADD</button>
        
      </form>
      </div>

    </div>
   
    
  </div>

  
      <!-- Related_articles -->

  <div style="width: 95%; height: auto; background: rgb(223, 219, 219); display: grid;">
  
  <h1>Related Articles</h1>
  {% for article in related_articles%}
  {% ifequal article.id new_blog.id%}

  {%else%}
  <a href="{% url 'view_article' article.id %}">
  <div style="float: left; width: 80%; height: auto; background: rgb(87, 90, 92);   margin: 20px 10px 20px 20px;">
    <img src="/media/{{article.thumbnail}}" style="width: 250px; height: 200px; float: left;" alt="">
    <div><h1>{{article.title}}</h1></div>
    <label for="">Author </label><span style="color: black;">{{article.author_name}}</span>
  </div>
</a>
{%endifequal%}
  {% endfor %}
  
  </div>

 
  




      <!-- javaScripts -->

      

<script>


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');


          // Add-User-comment

  document.getElementById('cmtform').addEventListener('submit',
  function(e){
    e.preventDefault();
    var xhrr = new XMLHttpRequest()
    let cmtmsg = document.getElementById('cmtmsg').value
    xhrr.open("POST","{% url 'addcmt1' new_blog.id %}",true)
    xhrr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhrr.setRequestHeader("X-CSRFToken", csrftoken);
    xhrr.setRequestHeader('X-Requested-With','XMLHttpRequest')
    xhrr.send(`cmt-msg=${cmtmsg}`)

    xhrr.onreadystatechange = function(){
      if(this.readyState==4 && this.status==200){
        var data1 = this.responseText
        console.log(data1);
        var data2 = JSON.parse(data1)
        console.log(data);
        

        if(data2.ok){
          console.log("data");
            window.location = data2.url
        }
        else{
          var data = JSON.parse(data2)
        console.log(data);
        document.getElementById('cmtform').reset()

var tNew = document.createElement('div');
 tNew.innerHTML = `<div class="user-cmt-box" style="margin-top: 20px;"> <div class="user-img"> <img src="/media/{{request.user.profile_pic}}" alt=""></div>
<div class="user-msg">
<h2>${data.fields.u_name}</h2>
<h6 style="font-style: italic;">${data.fields.cmt_date}</h6>
<div style="margin-right: 20px; margin-top: -20px;">${data.fields.u_msg}</div>

<form class="cmt_reply" method="POST">
          {% csrf_token%}
        <input type="text" name="r-msg" id="msg-${data.pk}">
        <button onclick="comment_reply(${data.pk})" type="button">ADD</button>
</div><div id="div-${data.pk}"></div></div>`
var cmtdiv = document.getElementById('cmtdiv');
cmtdiv.insertBefore(tNew, cmtdiv.lastChild);



        }
        
        
      }

    } 
  } 
  )


     // add-user-reply

function comment_reply(cmt_id){
  console.log(cmt_id);
  let cmtmsg = document.getElementById(`msg-${cmt_id}`).value
  console.log(cmtmsg);
    var xhrr = new XMLHttpRequest()
    xhrr.open("POST","{% url 'reply' new_blog.id %}",true)
    xhrr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhrr.setRequestHeader("X-CSRFToken", csrftoken)
    xhrr.setRequestHeader('X-Requested-With','XMLHttpRequest')
    xhrr.send(`cmt-msg=${cmtmsg}&cmt-id=${cmt_id}`)
       xhrr.onreadystatechange = function(){
      if(this.readyState==4 && this.status==200){
        var data1 = this.responseText
        console.log(data1);
        var data = JSON.parse(data1)
        console.log(data);
        

        if(data.ok){
         
            window.location = data.url
        }
        else{
         
        document.getElementById(`cmt_reply-${cmt_id}`).reset()

var tNew = document.createElement('div');
 tNew.innerHTML = `<div class="sub-cmt">
        <div class="sub-user-img"> <img src="/media/{{user.profile_pic}}" alt=""></div>
        <div class="user-msg">
        <h2>{{user.username}}</h2>
        <h6 style="font-style: italic;">{{reply.cmt_date}}</h6>
        <div style="margin-right: 20px; margin-top: -20px;">${cmtmsg}</div>
        </div>
      </div>`
var cmtdiv = document.getElementById(`div-${cmt_id}`);
cmtdiv.insertBefore(tNew, cmtdiv.firstChild);

 

        }
        
      }

   } 
  
}



     //  addlike

  document.getElementById('like').addEventListener('click',addlike)
  function addlike(){
    var xhr = new XMLHttpRequest()
    xhr.open("GET","{% url 'like' new_blog.id %}",true)
   
    xhr.setRequestHeader('X-Requested-With','XMLHttpRequest')
    xhr.send()

    xhr.onreadystatechange = function(){
      if(this.readyState==4 && this.status==200){
        data = JSON.parse(this.responseText)
        console.log(data.ok)
        if(data.ok){

        if(document.getElementById('active').style.color=="blue"){
          document.getElementById('active').style.color="black"
        }
        else
        document.getElementById('active').style.color="blue"
        }

        else
        window.location = data.url
      }

    } 
  } 

  function more(){

    var xhr = new XMLHttpRequest()
    xhr.open("GET","{% url 'more' new_blog.id %}")
    xhr.setRequestHeader('X-Requested-With','XMLHttpRequest')
    xhr.send()
    xhr.onreadystatechange = function(){

      if(this.readyState == 4 && this.status == 200){
        jsondata = this.responseText
        console.log('jsondata');
        
        cmts = JSON.parse(jsondata)
        usercmts =cmts.usercmts
        console.log(cmts);
        
        
    
      

      

          
         let i=0
         let dom = ''
          for( i; i<usercmts.length;i++)
          {
           dom += `<div class="user-cmt-box" style="margin-top: 20px;">

        

                  <div class="user-img"> <img src="/media/${usercmts[i].cmt.profile_pic}" alt=""></div>
                  <div class="user-msg">
                  <h2>${usercmts[i].cmt.username}</h2>
                  <h6 style="font-style: italic;">${usercmts[i].cmt.cmt_date}</h6>
                  <div style="margin-right: 20px; margin-top: -20px;">${usercmts[i].cmt.cmtmsg}</div>
                  
                  <form id="cmt_reply-${usercmts[i].cmt.id}" method="POST">
                    {% csrf_token%}
                  <input type="text" name="r-msg" id="msg-${usercmts[i].cmt.id}">
                   <button onclick="comment_reply(${usercmts[i].cmt.id})" type="button">ADD</button>

                 
              
                    </form>
                    </div>`
            
          
     
      
                  allreply = usercmts[i].reply
                  allreply.forEach(reply => {

                    
                         dom +=   `<div id="div-${reply.cmt_id}">

                                <div class="sub-cmt">
                                  <div class="sub-user-img"> <img src="/media/${reply.profile_pic}" alt=""></div>
                                  <div class="user-msg">
                                  <h2>${reply.username}</h2>
                                  <h6 style="font-style: italic;">${reply.cmt_date}</h6>
                                  <div style="margin-right: 20px; margin-top: -20px;">${reply.r_msg}</div>
                                  </div>
                                </div>
                               
                              </div>

                              </div>`
                                        
                                      });
                              }
                      
                              var Newdiv = document.createElement('div');  
                                Newdiv.innerHTML = dom
                                var cmtdiv = document.getElementById('cmtdiv');
                                cmtdiv.insertBefore(Newdiv, cmtdiv.lastChild);
                                if(cmts.more) {
                                  var morebtn = document.getElementById('m')
                          
                                  morebtn.remove()

                                }
                                else{
                                  console.log('not cut');
                                  
                                }
                         
                               }
                              
                          else{
                            console.log('error');
                            
                          }
                        


                      }
  }



</script>

{%endblock%}
</div>

</body>
</html>