<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  
  <link rel="stylesheet" href="{% static 'style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

<!-- A grey horizontal navbar that becomes vertical on small screens -->
<header>
<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    
    <div class="web-title">
    <h2>MyBlogApp</h2><br>
  </div>
    <li class="nav-item">
      <a class="nav-link" href="\">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="all_blog">All Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">New Blog</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">{{user}}</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="logout">Logout</a>
    </li>
    {% if user.is_author %}
    <li class="nav-item">
      <a class="nav-link" href="author_dashboard">DashBoard</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/author_register">Are You Author?</a>
    </li>

    {%endif%}

    {%else%}
    <li class="nav-item">
      <a class="nav-link" href="login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user_register">New User?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/author_register">New Author?</a>
    </li>

    {%endif%}
  </ul>

</nav>
</header>

<div class="container">

  {% block body%}

  <div class="left-container">
    <div class="title">
    <h2>{{new_blog.title}}</h2>
    <h4>{{new_blog.upload_date}}</h4>
  </div>
    <div class="article">

      <div class="article-img"> <img src="/media/{{new_blog.thumbnail}}" alt="img"></div>

      <p> {{new_blog.content}}</p>


    </div>



  </div>
  <h1 style="float: right; margin-right: 270px; border-bottom: 5px solid black;">Author</h1>
  <div class="right-container">
    <div class="author-img"> <img src="/media/{{author.profile_pic}}" alt=""></div>
    <div class="author-info">
      <h2>{{author.username}}</h2>
     <h4>{{author.occupation}}</h4>
       <h4>{{author.country}}</h4>
       <span class="social-link">Instagram</span>
       <span class="social-link">Github</span>
       <span class="social-link">Linkedin</span>
      </div>
    
   

  </div>

  <div class="cmt-box">

    <h1>COMMENTS</h1>
    <hr>

    <div class="user-cmts">
       





      {% for cmt in cmts %}
      <div class="user-cmt-box" style="margin-top: 20px;">

        

        <div class="user-img"> <img src="/media/{{cmt.user.profile_pic}}" alt=""></div>
        <div class="user-msg">
        <h2>{{cmt.u_name}}</h2>
        <h6 style="font-style: italic;">{{cmt.cmt_date}}</h6>
        <div style="margin-right: 20px; margin-top: -20px;">{{cmt.u_msg}}</div>
        <a style="margin-left: 20px;" href="like">Like</a>23 
        <form action="reply/{{cmt.id}}/{{new_blog.id}}" method="POST">
          {% csrf_token%}
        <input type="text" name="r-msg">
        <button type="submit">ADD</button>
        
      </form>
      </div>

      {% for reply in replys %}

      {% if reply.main_cmt_id == cmt.id%}

      <div class="sub-cmt">
        <div class="sub-user-img"> <img src="{% static 'mr-robot.jpg'%}" alt=""></div>
        <div class="user-msg">
        <h2>{{reply.u_name}}</h2>
        <h6 style="font-style: italic;">{{reply.cmt_date}}</h6>
        <div style="margin-right: 20px; margin-top: -20px;">{{reply.r_msg}}</div>
        </div>
      </div>
      {%endif%}
      {%endfor%}

     
      </div>
      {% endfor %}

















      <div class="cmt-form">
        <h1>Add Comments</h1>
      
          
        <form action="add_cmt/{{new_blog.id}}" method="POST">
          {% csrf_token%}
        <input type="text" name="cmt-msg">
        <button type="submit">ADD</button>
        
      </form>
    

      </div>

    </div>
    {%endblock%}
    
  </div>



  



</body>
</html>