{% extends 'index.html' %}


{% block body %}
<h1 style="text-align: center;">Log in </h1><hr>

{% if error %}
  <div style="float: left; margin-left: 330px; padding: 5px; margin-bottom: 30px; background: rgb(233, 219, 219);"><span style="color: rgb(226, 43, 43);">{{error}}</span></div>
{% endif %}

<div style=" margin-top: 70px; margin-left: 300px; width: 200px; height: 300px;">

  <form action="login" method="post">
    {% csrf_token %}
    {{form.as_p}}
<input type="submit" value="login">
  
</form>
<a href="{% url 'reset-password-form' %}"  style="color: aliceblue;"><strong>Forgot Paasword?</strong></a>

</div>


{% endblock %}

